<div class="modal-dialog">

  <div class="modal-content">
    <form id="addEquip" action="/add" method="post">

      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" name="name">

      </div>

      <div class="input-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" placeholder="Price" aria-describedby="basic-addon1" name="price">

      </div>

      <div class="input-group">
        <label for="available">Avalable</label>
        <input type="text" class="form-control" placeholder="Available" aria-describedby="basic-addon1" name="available">

      </div>

      <div class="input-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1" name="description">

      </div>

      <!-- Client name: <input type="text" name="name"/><br><br>
    Enter discount: <input type="int" name="discount"/><br><br> -->
      <input type="submit" value="Submit" class="btn btn-success" />
    </form>

  </div>
</div>
